body {
  margin: 0;
}

.App {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: #43a047;
}

h1 {
  margin-bottom: 0;
}

.absolute {
  position: absolute;
  top: 10px;
  right: 6rem;
}

article {
  position: relative;
}
